.et-calendar {
    width : 100%;
    margin-bottom:10px;
}

.fc-event-time, .fc-event-title {
    line-height:130%;
}
.et-calendar-detail {
    position:absolute;
    width:200px;
    min-width:120px;
    border:1px solid white;
    background-color:white;
    border-radius:5px;
    z-index:5000;
    pointer-events: none;
    padding:5px;
    -webkit-box-shadow: 0px 0px 53px 4px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 53px 4px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 53px 4px rgba(0,0,0,0.6);
    opacity:0.95;
    font-size: 0.85em;
}
.et-cal-detaildatum {
    font-size:0.9rem;
    font-weight:bold;
    border-bottom:1px solid gainsboro;
}
.et-cal-detailtitle {
    font-weight:bold;
    font-size:1rem;
    line-height:110%;
}
.et-cal-detaildescr {
    font-size:0.83em;
    color:#666;
    line-height:110%;
    margin-top:4px;
}
.et-cal-detailplace {
    color:#666;
    line-height:120%;
    margin-top:4px;
}