




.et_vera_wrapper, #etresult-more-wrapper {
    float:none;
    clear: both;

}
.et-container {
    width: 960px;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.et-row {
    width:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom:10px;
}
.et-col-sm-3, .et-col, .et-col-sm-1, .et-col-sm-8, .et-col-sm-11 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.et-col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;

}
.et-col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;

}
.et-col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.et-col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;

}
.et_vera_img img {
    width:100%;
}
.et_vera_datum {
    font-size:120%;
    font-weight:bold;
}
.et_vera_title {
    font-size:115%;
    font-weight:bold;
}
.et_vera_subtitle {

}
.et_vera_person {

}
.et_vera_city {
    color: #555555;
}
.et_vera_city:after {
    content: ':';
}
.et_vera_placename {
    color: #555555;
}
.et_vera_descr {

}
.et_vera_line {
    border-bottom:1px solid #d1d1d1;
    padding-bottom:20px;
}