.et-teaser-container .et_vera_wrapper {
    float:none;
    clear: both;
    padding-bottom:10px;
    border-bottom:1px solid #d5d5d5;
}

.et-teaser-row {
    width:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom:10px;
}
.et-col-sm-3, .et-col-sm-9, .et-col-sm-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    box-sizing: border-box;
}
.et-col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.et-col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.et-col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


.et_teaser_thumbnail {
}
.et_teaser_thumbnail img {
    width:100%;
    height:auto;
    padding-right:12px !important;
}

.et_teaser_title {
    line-height:115%;
    padding-bottom:5px;
    font-weight: bold;
}
.et_teaser_datum {
}
.et_teaser_person {
    font-size:0.9rem;
    color:#666;
}
.et_teaser_place {
    font-size:0.9rem;
    color:#666;
    line-height:110%;
}