.et_minical_hr {
    border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.et_minical_placename {
    color:#666666;
    font-size:80%;
}
.et_minical_time {
    font-weight: bold;
}
#et_minicalendar .ui-datepicker-inline {
    margin:auto;
}
a.et_minical_link {
    text-decoration: none;
}