
<div class="colorbox-container et-teaser-container">
    {% for item in content %}
        <div class="et_vera_wrapper et-teaser-row">
            {% if showImages != '1' %}<div class="et-col-sm-3 et_teaser_thumbnail"><img src="{{ item.img }}"/></div>{% endif %}
            <div class="et-col{% if showImages != '1' %}-sm-9{% else %}-sm-12{% endif %} et_teaser_text">
                <div class="et_teaser_datum">{{ item.Veranstaltung.DATUM2 }}</div>
                <div class="et_teaser_title"><a href="//{{ host }}/detail-bt?ID={{ item.Veranstaltung.ID }}" class="colorbox-load">{{ item.Veranstaltung._event_TITLE }}</a></div>
                <div class="et_teaser_person">{{ item.Veranstaltung._person_NAME }}</div>
                <div class="et_teaser_place"><span class="et_teaser_city">{{ item.Veranstaltung._place_CITY }}</span> <span class="et_teaser_placename">{{ item.Veranstaltung._place_NAME }}</span></div>
                {% if item.Veranstaltung.addoutput != '' %}<div class="et_teaser_addoutput">{{ item.Veranstaltung.addoutput | raw }}</div>{% endif %}
            </div>
        </div>
    {% endfor %}
</div>