<div class="etfilteredlistform">
    {{ form }}
</div>

<div class="colorbox-container">
    <div id="etresult-ajax-wrapper">
        {{ content }}
    </div>
    <div id="etmore-clear_wrapper">
        <div id="etmore-ajax-wrapper"></div>
    </div>
</div>
<div id="etresult-more-wrapper">
    {{ moreform }}
</div>



