
{% for item in content %}
    <div class="et_vera_wrapper et-row{% if showImages == '1' %} et_vera_line{% endif %}">
        {% if showImages != '1' %}<div class="et-col-sm-3">
            <div class="et_vera_img"><a href="https://{{ host }}/detail-bt?ID={{ item.Veranstaltung.ID }}" class="colorbox-load img-responsive"><img src="{{ item.Veranstaltung.img }}" /></a></div>
        </div>{% endif %}
        <div class="et-col-sm-{% if showImages == '0' %}8{% else %}11{% endif %}">
            <div class="et_vera_datum">{{ item.Veranstaltung.DATUM2 }}</div>
            <div class="et_vera_title"><a href="https://{{ host }}/detail-bt?ID={{ item.Veranstaltung.ID }}" class="colorbox-load">{{ item.Veranstaltung._event_TITLE }}</a></div>
            {% if item.Veranstaltung.SUBTITLE != '' %}<div class="et_vera_subtitle">{{ item.Veranstaltung.SUBTITLE }}</div>{% endif %}
            <div class="et_vera_descr">{{ item.Veranstaltung._event_SHORT_DESCRIPTION }}</div>
            <div class="et_vera_person">{{ item.Veranstaltung._person_NAME }}</div>
            <div class="et_vera_place"><span class="et_vera_city">{{ item.Veranstaltung._place_CITY }}</span> <span class="et_vera_placename">{{ item.Veranstaltung._place_NAME }}</span></div>
            {% if item.Veranstaltung.addoutput != '' %}<div class="et_vera_addoutput">{{ item.Veranstaltung.addoutput | raw }}</div>{% endif %}
        </div>
        <div class="et-col-sm-1">
            <a href="http://{{ host }}/ical-{{ item.Veranstaltung.ID }}" title="{{ 'In den Kalender eintragen'|t }}">
                <svg width="28" height="28" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z"/></svg>
            </a>
            {% if item.Veranstaltung._place_GLAT != '' %}<a href="https://maps.google.com/?q={{ item.Veranstaltung._place_GLAT }},{{ item.Veranstaltung._place_GLONG }}" target="_blank" title="{{ 'In Google-Maps ansehen'|t }}">
                    <svg width="28" height="28" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1152 640q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm256 0q0 109-33 179l-364 774q-16 33-47.5 52t-67.5 19-67.5-19-46.5-52l-365-774q-33-70-33-179 0-212 150-362t362-150 362 150 150 362z"/></svg>
                </a>{% endif %}
        </div>
    </div>
{% endfor %}