<iframe class="iframeresizer" src="//www.evangelische-termine.de/ressourcenbuchung?vid={{ values.vid }}&res={{ values.res }}{% if values.grouped == '1'  %}&grouped=1{% endif %}&withblocked={{ values.withblocked }}" width="100%" height="200" frameborder="0" scrolling="auto"></iframe>
