{% spaceless %}
    {% include '@evangelische_termine/et_row.html.twig' %}
    {% if content|length == 0 %}
        <div class="et_vera_wrapper">
            <div class="et_noresult">{{ 'Für Ihre Suchanfrage wurden keine weiteren Veranstaltungen gefunden.'|t }}</div>
        </div>
    {% endif %}
    <div id="etmore-ajax-wrapper">
    </div>
    <script>increasepageId();{{ jsscript }}</script>
{% endspaceless %}

<!-- Parameter: {{ url }} -->
