
<div id="etresult-ajax-wrapper" class="et-container">

    {% include '@evangelische_termine/et_row.html.twig' %}

    {% if content|length == 0 %}
        <div class="et_vera_wrapper">
            <div class="et_noresult">{{ 'Für Ihre Suchanfrage wurden keine Veranstaltungen gefunden.'|t }}</div>
        </div>
    {% endif %}
</div>
<script>resetpageId();{{ jsscript }}</script>
<!-- Parameter: {{ url }} -->
